<form method="post" action="/github_profiles/create">
  <p>
    <label for="username">Enter a GitHub username: </label>
    <input type="text" id="username" name="username"></input>
    <button name="theButton">Press Here</button>
  </p>
</form>
